body{
	font-family: "interstate", sans-serif;
}

button:focus{
	outline: none;
}

.header{
	text-align: center;
	height: 9vh;
	position: fixed;
	background-color: #fff;
	z-index: 1;
	font-size: 1.3em;
	letter-spacing: 4px;
	font-weight: 400;
	padding: 18px 0px;
}

.hero{
	text-align: center;
	padding: 5px 0px;
	background-color: #E6E7E6;
}

.background-text {
    color: #ADA197;
    display: block;
    opacity: 0.1;
    position: relative;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	z-index: 0;
	right: 0;
 	top: 10vh;
 	visibility: hidden;
 	font-weight: 700;
 	font-size: 27vw;   
}

@media (min-width:480px) {
  .background-text {
    visibility: visible;
  }
}

.headline{
	margin-bottom: 3px;
	padding: 3px;
	color: #AFA196;
    font-weight: bold;
    font-size: 80px;
    position: absolute;
    line-height: 78px;
    letter-spacing: 8px;
    top: 28vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.introduction{
	color: #676564;
	font-weight: 100;
    font-size: 1em;	
    letter-spacing: 0.4px;	
    line-height: 22px;
    padding: 20px 0px;
}

.hero-image{
	height: auto;	
	width: 55%;
	position: absolute;
	top: 60vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}

.start-custom{
	background-color: #AFA196 !important;
	color: white !important;
	position: relative;
	width: 229px !important;
	height: 60px !important;
	margin-bottom: 6vh;
	margin-top: -1% !important;
}

.products{
	text-align: center;
	height: 100%;
}

.product-name{
	padding: 70px 0px 0px 0px;
	text-align: center;
	letter-spacing: 0.4px;
	font-weight: 200;
	color: #151515;
}

.product-price{
	letter-spacing: 0.4px;
	font-weight: 100;
	color: #676564;
}

.product-1{
	background-color: #F2F2F2;
}

.product-div{
	height: 37vh;
}

.product-image1{
	width: 70%;
	height: auto;
	margin: 50px 0px;
}

.product-image2{
	width: 50%;
	height: auto;
	margin: 50px 0px;
}

.product-image3{
	width: 50%;
	height: auto;
	margin: 90px 0px;
}

.customize{
	background-color: transparent;
	letter-spacing: 0.4px;
	font-weight: 200;
	color: #676564;
	height: 60px;	
	margin-top: 14%;
	width: 177px;	
	border: 1px solid #DDDDDD;	
	border-radius: 30px;
}